/* Import Tailwind CSS base styles */
@import "tailwindcss";

/* Enable DaisyUI plugin for additional UI components */
@plugin "daisyui";

/* Global styles */
@theme {
  /* Define color palette */
  --color-ultra-violet: #5b507a;
  --color-powder-violet: #5b618a;
  --color-powder-blue: #9eadc8;
  --color-light-green: #b9e28c;
  --color-pear: #d6d84f;
  --color-soft-gray: #f9fafb;
  --color-slate: #1e293b;
  
  /* Custom color utilities */
  --color-powderviolet: var(--color-powder-violet);

  /* Define font families */
  --font-sans: "Parkinsans", sans-serif;
  --font-serif: "Tinos", serif;
  --font-mono: "Inconsolata", monospace;
}

@plugin "daisyui/theme" {
  name: "CareerCanvas";
  default: true;
  prefersdark: false;
  color-scheme: light;

  /* colors */
  --color-base-100: var(--color-soft-gray, #f9fafb);
  --color-base-200: #1e293b07;
  --color-base-300: #1e293b10;
  --color-base-content: var(--color-slate, #1e293b);
  --color-primary: var(--color-ultra-violet, #5b507a);
  --color-primary-content: var(--color-soft-gray, #f9fafb);
  --color-secondary: var(--color-powder-blue, #9eadc8);
  --color-secondary-content: #f9fafb;
  --color-accent: var(--color-light-green, #b9e28c);
  --color-accent-content: var(--color-slate, #1e293b);
  --color-neutral: var(--color-powder-violet, #5b618a);
  --color-neutral-content: var(--color-soft-gray, #f9fafb);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: var(--color-soft-gray, #f9fafb);
  --color-success: oklch(50% 0.25 140);
  --color-success-content: var(--color-slate, #1e293b);
  --color-warning: oklch(90% 0.25 80);
  --color-warning-content: var(--color-slate, #1e293b);
  --color-error: oklch(40% 0.3 30);
  --color-error-content: var(--color-soft-gray, #f9fafb);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 0px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

:root {
  font-family: var(--font-sans);
  color: var(--color-slate, #1e293b);
  background-color: var(--color-soft-gray, #f9fafb);
}
